---
import Section from "./Section.astro";
import { Image } from "astro:assets";
import type { AboutProps, HeroProps } from "@types";

type Props = AboutProps & Pick<HeroProps, "name">;

const { description, image, name } = Astro.props;
---
<Section text="About Me" href="about">
  <div class="flex flex-col items-center gap-12 md:flex-row md:gap-8">
    <p class="w-auto text-base text-neutral md:pr-5">{description}</p>

    <!-- Polaroid with hover leveling -->
    <div
      class="h-80 w-64 flex-shrink-0 bg-white p-4 rounded-2xl shadow-xl transform rotate-[5deg] md:rotate-[7deg] transition-transform duration-500 hover:rotate-0"
    >
      <Image
        class="object-cover w-full h-full rounded-2xl"
        src={image}
        width="260"
        height="260"
        alt={name}
      />
      <!-- Polaroid bottom -->
      <div class="mt-4 h-10 w-full bg-white rounded-b-2xl"></div>
    </div>
  </div>
</Section>
