---
import Section from "./Section.astro";
import { Image } from "astro:assets";
import type { AboutProps, HeroProps } from "@types";

type Props = AboutProps & Pick<HeroProps, "name">;

const { description, image, name } = Astro.props;
---

<Section text="About Me" href="about">
  <div class="flex flex-col items-center gap-12 md:flex-row md:gap-8">
    <p class="w-auto text-base text-neutral md:pr-5">{description}</p>

    <div class="relative w-64 h-80">
      <!-- Faded background rectangle -->
      <div class="absolute inset-0 bg-blue-200 opacity-40 rounded-2xl transform rotate-3 transition duration-500 ease-in-out group-hover:opacity-0"></div>

      <!-- Polaroid card -->
      <div
        class="relative z-10 h-full w-full bg-white rounded-2xl shadow-lg p-4 transform -rotate-6 transition duration-500 ease-in-out group hover:rotate-0"
      >
        <Image
          class="object-cover w-full h-full rounded-xl"
          src={image}
          width="260"
          height="260"
          alt={name}
        />
      </div>
    </div>
  </div>
</Section>
