---
import Section from "./Section.astro";
import { Image } from "astro:assets";
import type { AboutProps, HeroProps } from "@types";

type Props = AboutProps & Pick<HeroProps, "name">;

const { description, image, name } = Astro.props;
---

<Section text="About Me" href="about">
  <div class="relative w-full">

    <!-- Text content -->
    <div class="text-white text-base max-w-3xl" set:html={description}></div>

    <!-- Polaroid container pushed further right -->
    <div class="absolute top-0 right-0 w-64">
      <div
        class="bg-white p-4 transform rotate-[5deg] md:rotate-[7deg] 
               transition-transform duration-500 hover:rotate-0 shadow-lg"
      >
        <div class="overflow-hidden rounded-t-xl">
          <Image
            class="object-cover w-full h-64"
            src={image}
            width="260"
            height="260"
            alt={name}
          />
        </div>
        <div class="bg-white h-16 w-full mt-4"></div>
      </div>
    </div>

  </div>
</Section>
