---
interface Props {
  text: string;
  href: string;
}

const { text, href } = Astro.props;
---

<section id={href} class="py-24">
  <div class="flex items-center mb-14">
    <h2 class="font-serif text-4xl font-bold tracking-tighter text-white md:text-5xl whitespace-nowrap">
      {text}
    </h2>
    <div class="section-title-line flex-1 ml-6"></div>
  </div>
  <slot />
</section>
